<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL</title>
    <link rel ="stylesheet" href="../assets/styles/navbar.css">
    <link rel ="stylesheet" href="../assets/styles/about.css">
    <link rel ="stylesheet" href="../assets/styles/contact.css">
</head>
<body>
      <!-- Navbar Start  -->
  <header class="wrapper-co5 header-kpd" style="background-color: #fff;">
    <div class="container-3sa">
        <div class="row-jp9">
            <div class="col-5bi">
                <div class="flex-vq7 content-hwo">
                    <div class="logo-container-section">
                        <a href="home.html">
                            <img src="https://ethemestudio.com/demo/avers/assets/images/logo-2.png">
                        </a>
                    </div>
                    <div class="flex-vq7">
                        <div class="d-s28 d-lg-qaj">
                            <nav class="main-61c">
                                <ul>
                                    <li class="has-ihr">
                                        <a href="digital.html">Digital marketing</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                            <li>
                                                <a href="index-3.html">Home Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="web.html">Web development</a>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="software.html">Software Development</a>
                                        <ul class="menu-y4g">
                                            <li><a href="team.html">Team</a></li>
                                            <li class="menu-bfi"><a href="#/">Services</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-bfi"><a href="#/">Projects</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="branding.html">Branding</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="header-trx flex-vq7">
                            <div class="header-y8j header-hvx">
                                <a href="contact.html" class="btn-i1a"><span>Contact</span></a>
                            </div>
                            <div class="ham-bty block-x8p d-lg-krz">
                                <a class="button-oeb d-kzr" href="#/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- Navbar End -->

  <!-- About Us Banner Section Start -->
  <div class="section-nbg breadcrumb-boa style-c66SE" id="style-c66SE" style="background-image: url(../assets/images/about-us.jpg);">
    <div class="container-rto">
        <div class="row-dzp">
            <div class="col-2yo item-shr text-o7v">
                <div class="breadcrumb-o2j">
                    <h1 class="title-9pc">About Us</h1>
                    <ul class="breadcrumb-oro">
                        <li><a href="index.html">Home</a></li>
                        <li><span>About</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- About Us Banner Section End -->
   <!-- Default Highlight Portion start -->
   <div class="section-ds6 fa-v1e style-HhtqA" id="style-HhtqA" style="background-image: url(../assets/images/black-abstract-2.jpg);">
    
    <div class="container-q22">
        <div class="row-tid">
            <div class="col-qch fa-jog style-HvVYR" id="style-HvVYR">
                <div class="heading-baz">
                    <span>We are Avers</span>
                    <h2>We Are Leading The Industry</h2>
                    <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor inci didunt ut labore et dolore.</p>
                </div>
            </div>
            <div class="col-qch">
                <div class="about-slv">
                    <div class="about-counter-h5g fa-jog style-ewBdg" id="style-ewBdg">
                        <div class="fa-i4e">
                            <span class="odo-o1a odometer-auto-wre">
                                <div><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">2</span></span></span></span></span><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">0</span></span></span></span></span></div>
                            </span>
                        </div>
                        <span class="title-yix">Worldwide <br> Countries</span>
                    </div>
                    <div class="about-counter-h5g fa-jog style-23AQM" id="style-23AQM">
                        <div class="fa-i4e">
                            <span class="odo-o1a odometer-auto-wre">
                                <div><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">5</span></span></span></span></span><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">0</span></span></span></span></span></div>
                            </span>
                        </div>
                        <span class="title-yix">Popular <br> Products</span>
                    </div>
                    <div class="about-counter-h5g fa-jog style-H8jSW" id="style-H8jSW">
                        <div class="fa-i4e">
                            <span class="odo-o1a odometer-auto-wre">
                                <div><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">5</span></span></span></span></span></div>
                            </span>
                            <span class="text-37o">K</span>
                        </div>
                        <span class="title-yix">Direct <br> Clients</span>
                    </div>
                    <div class="about-counter-h5g fa-jog style-hmMoy" id="style-hmMoy">
                        <div class="fa-i4e">
                            <span class="odo-o1a odometer-auto-wre">
                                <div><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">8</span></span></span></span></span><span class="odometer-152"><span class="odometer-digit-9wp">8</span><span class="odometer-digit-p8t"><span class="odometer-g4o"><span class="odometer-ribbon-t4m"><span class="odometer-njb">0</span></span></span></span></span></div>
                            </span>
                            <span class="text-37o">K</span>
                        </div>
                        <span class="title-yix">Successfull <br> Projects</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Default Highlight Portion End -->
</body>
</html>