<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivlogic | Branding</title>
    <link rel ="stylesheet" href="../assets/styles/navbar.css">
    <link rel ="stylesheet" href="../assets/styles/footer.css">
    <link rel ="stylesheet" href="../assets/styles/home.css">
    <!-- For Banner Style -->
    <link rel ="stylesheet" href="../assets/styles/about.css">
</head>
<body>
     <!-- Navbar Start  -->
  <header class="wrapper-co5 header-kpd" style="background-color: #fff;">
    <div class="container-3sa">
        <div class="row-jp9">
            <div class="col-5bi">
                <div class="flex-vq7 content-hwo">
                    <div class="logo-container-section">
                        <a href="../index.html">
                            <img src="../assets/images/logo/Logo.png" class="tl-logo">
                        </a>
                    </div>
                    <div class="flex-vq7">
                        <div class="d-s28 d-lg-qaj">
                            <nav class="main-61c">
                                <ul>
                                    <li class="has-ihr">
                                        <a href="digital.html">Digital marketing</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                            <li>
                                                <a href="index-3.html">Home Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="web.html">Web development</a>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="software.html">Software Development</a>
                                        <ul class="menu-y4g">
                                            <li><a href="team.html">Team</a></li>
                                            <li class="menu-bfi"><a href="#/">Services</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-bfi"><a href="#/">Projects</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="branding.html">Branding</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="header-trx flex-vq7">
                            <div class="header-y8j header-hvx">
                                <a href="contact.html" class="btn-i1a"><span>Contact</span></a>
                            </div>
                            <div class="ham-bty block-x8p d-lg-krz">
                                <a class="button-oeb d-kzr" href="#/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- Navbar End -->
   <!-- Contact Us Banner Section Start -->
   <div class="section-nbg breadcrumb-boa style-c66SE" id="style-c66SE" style="background-image: url(../assets/images/contact-us.jpg);">
    <div class="container-rto">
        <div class="row-dzp">
            <div class="col-2yo item-shr text-o7v">
                <div class="breadcrumb-o2j">
                    <h1 class="title-9pc">Branding</h1>
                    <ul class="breadcrumb-oro">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Branding</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us Banner Section End -->

<!-- Specification Card Section Start-->
<div class="service-32a section-gcz">
    <div class="sha-dpj style-1hf9U" id="style-1hf9U" >
        <div class="sha-f1m style-9F3yM" id="style-9F3yM" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape1.png" >
        </div>
        <div class="sha-roo style-ODrqb" id="style-ODrqb" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape2.png">
        </div>
        <div class="style-Lj4Yy" id="style-Lj4Yy">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape3.png" class="lottie-color-spread">
        </div>
        <div class="sha-ogk style-EpMb9" id="style-EpMb9"style=" margin-left:-5%">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape4.png">
        </div>
        <div class="sha-14z style-obVJq" id="style-obVJq">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape6.png">
        </div>
        <div class="sha-wao style-IE1T4" id="style-IE1T4">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape7.png">
        </div>
    </div>
    <div class="container-9bc">
        <div class="row-pnw">
            <div class="col-1fi fa-3wf style-ypbqR" id="style-ypbqR">
                <div class="heading-oeg text-go4">
                    <span class="subtitle-qjo">Our Branding Service</span>
                    <h2 class="title-cho">What We Offer to Our Clients</h2>  
                </div>
                <p style=" padding-bottom: 50px;">Trivlogic stands at the forefront of software development, offering comprehensive solutions tailored
                     to meet the diverse needs of our clients. With a focus on innovation and expertise, we harness the latest technologies to develop robust,
                      scalable, and user-friendly software applications. Our team of skilled developers works closely with clients throughout the development process,
                       from initial concept to final deployment, ensuring that each solution is aligned with their unique goals and requirements.</p>
            </div>
        </div>
        <div class="row-pnw row-o54 row-4lt row-rjz row-mq9 mb-6fz">
            <div class="col-g76 mb-3m8 fa-3wf style-njBFb" id="style-njBFb">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1.png">
                        </div>
                        <h4 class="title-9ba"> Logo </h4>
                    </div>
                    <div>
                        <p> Trivlogic's logo design services are a blend of creativity, strategy, and precision. We recognize that your logo serves as the visual cornerstone of your brand, representing your identity and values to the world. Our process begins with in-depth research and understanding of your brand's personality, target audience, and market positioning.
                            We meticulously analyze your brand identity, target audience, and market landscape to create a logo that resonates with your audience and distinguishes your brand.
                            Our design process is collaborative, ensuring your vision is seamlessly integrated into the final product.<br><br><br></p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-qh7JW" id="style-qh7JW">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2.png">
                        </div>
                        <h4 class="title-9ba">Visting Card	</h4>
                    </div>
                    <div>
                        <p>Trivlogic's visiting card design services are dedicated to helping you make a lasting impression with a touch of professionalism. We pay meticulous attention to detail, ensuring that your visiting card reflects your brand identity seamlessly.
                             Our designs incorporate your logo, brand colors, and essential contact details in a visually appealing and easy-to-read layout.
                             Whether you prefer a classic and elegant design or a modern and creative approach, our team of designers will collaborate closely with you to ensure that your visiting card stands out and leaves a memorable impression.<br><br><br><br><br</p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-nFFpq" id="style-nFFpq">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3.png">
                        </div>
                        <h4 class="title-9ba">Brochure Design</h4>
                    </div>
                    <div>
                        <p>Leveraging audience insights, successful brochure design integrates impactful visuals with clear, concise, and benefit-oriented messaging. A user-friendly layout and a cohesive visual identity further elevate the experience, ensuring brochures effectively capture attention,
                             communicate value propositions, and leave a lasting, professional impression.Whether you need a corporate brochure, product brochure, or event brochure, we create visually stunning layouts that highlight your unique selling points, benefits, and value propositions.
                              With Trivlogic's brochure design services, you can confidently stand out in your industry and leave a lasting impression on your audience.</p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-VCW9z" id="style-VCW9z">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4.png">
                        </div>
                        <h4 class="title-9ba">Banner Design	</h4>
                    </div>
                    <div>
                        <p>Trivlogic specializes in digital banner design, creating captivating visuals that effectively communicate your message and capture the attention of your online audience. Our designs are tailored to align with your brand identity and objectives, ensuring consistency across all digital platforms.
                             Whether you need banners for website headers, social media ads, email campaigns, or online promotions, our team collaborates closely with you to understand your goals and target audience, delivering visually stunning layouts that drive engagement and conversions. <br><br><br><br><br> </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-UNKMf" id="style-UNKMf">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5.png">
                        </div>
                        <h4 class="title-9ba">Packaging</h4>
                    </div>
                    <div>
                        <p>Trivlogic excels in packaging design, crafting visually stunning and impactful solutions that elevate your brand's presence and resonate with your target audience. Our design process starts with a deep dive into your brand identity, product specifications, and target market. This allows us to create packaging that pops on the shelf,
                             effectively communicates your brand message, and highlights your value proposition. Whether you need packaging for retail products, food and beverage items, cosmetics, or any other consumer goods, our team collaborates closely with you to transform your vision into reality.	<br> <br><br><br></p>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</div>
 <!-- Specification Card Section End--> 
   <!-- Footer Start -->

<div class="footer-hk7">
    <div class="sha-w7o style-a3o9t" id="style-a3o9t">
        <div class="sha-f7l zoo-5vi style-KX6vL" id="style-KX6vL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/1.png">
        </div>
        <div class="sha-tdq zoo-5vi style-F6Y3q" id="style-F6Y3q">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/2.png">
        </div>
        <div class="sha-bd2 zoo-5vi style-DpDgy" id="style-DpDgy">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/3.png">
        </div>
        <div class="sha-fz6 style-LcDnH" id="style-LcDnH">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/4.png">
        </div>
        <div class="sha-3jl fa-xa5 style-fnQZN" id="style-fnQZN">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/5.png">
        </div>
        <div class="sha-ats zoo-5vi style-cdoRl" id="style-cdoRl">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/6.png">
        </div>
        <div class="sha-v27 style-qobno" id="style-qobno">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/7.png">
        </div>
        <div class="sha-dbr fa-xa5 style-FaJHL" id="style-FaJHL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/8.png">
        </div>
        <div class="sha-w7v zoo-5vi style-U6VGp" id="style-U6VGp">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/9.png">
        </div>
        <div class="sha-i2i fa-xa5 style-hEAPd" id="style-hEAPd">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/10.png">
        </div>
        <div class="sha-qyo fa-xa5 style-qJdqX" id="style-qJdqX">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/11.png">
        </div>
        <div class="sha-jt6 style-sNQYe" id="style-sNQYe">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/12.png">
        </div>
        <div class="sha-lee zoo-5vi style-oT2bp" id="style-oT2bp">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/13.png">
        </div>
        <div class="sha-ovf style-5qTIk" id="style-5qTIk">
            <img src="https://ethemestudio.com/demo/avers/assets/images/contact/1.png">
        </div>
    </div>
    <div class="newsletter-8i6">
        <div class="container-kl6">
            <div class="row-b2s">
                <div class="col-zti">
                    <div class="newsletter-two-clh">
                        <div class="heading-zzv fa-xa5 style-NPjfZ" id="style-NPjfZ">
                            <span class="subtitle-fr9">Subscribe Our Newsletter</span>
                            <h2 class="title-tlo">Get Regular Updats</h2>
                            <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipimod</p>
                        </div>
                        <form class="footer-7nh fa-xa5 style-KLEyE" id="style-KLEyE">
                            <input type="text" placeholder="Your email here">
                            <button class="btn-83h btn-f77" type="submit"> <span>Subscribe</span> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-kl6">
            <div class="row-b2s mb-1mg">
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-sty8r" id="style-sty8r">
                    <div class="footer-54p">
                        <div class="negative-tvk">
                            <a href="index-2.html">
                                <img src="../assets/images/logo/logo.jpg" class="tl-logo-footer">
                            </a>
                        </div>
                        <ul class="footer-5d2">
                            <li> <span>20 Bordeshi, Amin Bazar <br> Dhaka 1348</span></li>
                            <li> <span>info@trivlogic.com</span> </li>
                            <li><span>+91 8848609311</span> </li>
                        </ul>
                        <ul class="icon-ogo d-qfo">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-vgq"><img src="../assets/images/icons/facebook.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-9ih"><img src="../assets/images/icons/twitter.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-myo"><img src="../assets/images/icons/linkedin.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/"><img src="../assets/images/icons/instagram.png" class="social-media-icons" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-KlDdX" id="style-KlDdX">
                    <div class="footer-54p">
                        <div class="wrapper-iew">
                            <div>
                                <h5 class="footer-oob">Links</h5>
                                <ul class="footer-2hr">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Visitor</a></li>
                                    <li><a href="contact.html">Webmaster</a></li>
                                    <li><a href="contact.html">Service</a></li>
                                    <li><a href="contact.html">Career</a></li>
                                </ul>
                            </div>
                            <div>
                                <h5 class="footer-oob">Help</h5>
                                <ul class="footer-2hr">
                                    <li><a href="contact.html">Support</a></li>
                                    <li><a href="contact.html">Doc File</a></li>
                                    <li><a href="contact.html">Forum</a></li>
                                    <li><a href="contact.html">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-VAK8p" id="style-VAK8p">
                    <div class="footer-54p">
                        <h5 class="footer-oob" style="">Instagram Links</h5>
                        <ul class="tag-4pg">
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/1.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/2.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/3.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/4.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/5.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/6.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-Pclz1" id="style-Pclz1">
                    <div class="footer-54p">
                        <h5 class="footer-oob">Recent Tweets</h5>
                        <ul class="twe-lwh">
                            <li>
                                <div class="image-w1p"><img src="https://ethemestudio.com/demo/avers/assets/images/footer/tweet.png"></div>
                                <div class="content-7ez">
                                    <div>
                                        <a class="link-ch1" href="contact.html">@avers</a>
                                        <span class="text-yf5">Eolore magna aliqu ad minim veniam, quis nostr ud exercita </span>
                                        <a class="link-jfb" href="contact.html">bit.ly/8s0dfs</a>
                                    </div>
                                    <div class="dat-65o">
                                        <span>- 5 hours ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image-w1p"><img src="https://ethemestudio.com/demo/avers/assets/images/footer/tweet.png"></div>
                                <div class="content-7ez">
                                    <div>
                                        <a class="link-ch1" href="contact.html">@avers</a>
                                        <span class="text-yf5">Eolore magna aliqu ud exercita </span>
                                        <a class="link-jfb" href="contact.html">bit.ly/8s0dfs</a>
                                    </div>
                                    <div class="dat-65o">
                                        <span>- 5 hours ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-b2s">
                <div class="col-dyy position-hy6">
                    <div class="footer-g1i">
                        <p class="order-md-hdy order-wwb">Designed by <span>© Trivlogic</span></p>
                        <ul class="footer-76p order-md-z9q order-nz1">
                            <li><a href="contact.html">Terms &amp; Condition</a></li>
                            <li><a href="contact.html">Privecy Policy</a></li>
                            <li><a href="contact.html">Legal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->
</body>
</html>