<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="../assets/styles/navbar.css">
</head>
<body>
     <!-- Navbar Start  -->
  <header class="wrapper-co5 header-kpd" style="background-color: #fff;">
    <div class="container-3sa">
        <div class="row-jp9">
            <div class="col-5bi">
                <div class="flex-vq7 content-hwo">
                    <div class="logo-container-section">
                        <a href="home.html">
                            <img src="https://ethemestudio.com/demo/avers/assets/images/logo-2.png">
                        </a>
                    </div>
                    <div class="flex-vq7">
                        <div class="d-s28 d-lg-qaj">
                            <nav class="main-61c">
                                <ul>
                                    <li class="has-ihr">
                                        <a href="digital.html">Digital marketing</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                            <li>
                                                <a href="index-3.html">Home Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="web.html">Web development</a>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="software.html">Software Development</a>
                                        <ul class="menu-y4g">
                                            <li><a href="team.html">Team</a></li>
                                            <li class="menu-bfi"><a href="#/">Services</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-bfi"><a href="#/">Projects</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="branding.html">Branding</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="header-trx flex-vq7">
                            <div class="header-y8j header-hvx">
                                <a href="contact.html" class="btn-i1a"><span>Contact</span></a>
                            </div>
                            <div class="ham-bty block-x8p d-lg-krz">
                                <a class="button-oeb d-kzr" href="#/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- Navbar End -->
   <h1 style="padding-top: 10%; text-align: center;">Branding</h1> 
</body>
</html>