<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL</title>
    <link rel ="stylesheet" href="../assets/styles/navbar.css">
    <link rel ="stylesheet" href="../assets/styles/style.css">
    <link rel ="stylesheet" href="../assets/styles/home.css">
</head>
<body>
  <!-- Navbar Start  -->
  <header class="wrapper-co5 header-kpd" style="background-color: #fff;">
    <div class="container-3sa">
        <div class="row-jp9">
            <div class="col-5bi">
                <div class="flex-vq7 content-hwo">
                    <div>
                        <a href="index.html">
                            <img src="https://ethemestudio.com/demo/avers/assets/images/logo-2.png">
                        </a>
                    </div>
                    <div class="flex-vq7">
                        <div class="d-s28 d-lg-qaj">
                            <nav class="main-61c">
                                <ul>
                                    <li class="has-ihr">
                                        <a href="#">Home</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                            <li>
                                                <a href="index-3.html">Home Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="#">Pages</a>
                                        <ul class="menu-y4g">
                                            <li><a href="team.html">Team</a></li>
                                            <li class="menu-bfi"><a href="#/">Services</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-bfi"><a href="#/">Projects</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="#">Blog</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-trx flex-vq7">
                            <div class="header-y8j header-hvx">
                                <a href="contact.html" class="btn-i1a"><span>Get A Quote</span></a>
                            </div>
                            <div class="ham-bty block-x8p d-lg-krz">
                                <a class="button-oeb d-kzr" href="#/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- Navbar End -->

  <!-- Banner Start -->
  <div style="height:130px">

  </div>
  <div class="sce-m2s style-gY94T" id="style-gY94T">

    <!-- Banner Title Start -->
    <div class="home-banner-container" style="display: flex; width: 100%;">
        <div class="home-banner-title-section">
            <div class="content-y6v">
                <span>We Are Avers</span>
                <h2 class="title-tfm">Grow Your Business with Avers</h2>
                <p>When the musics over turn off the light</p>
                <a href="service-details.html" class="btn-zdj"><span>Read More</span></a>
            </div>  
        </div>
        <!-- Banner Title End -->
        <!-- Banner Image Start -->
        <div class="home-banner-image-section">
            <img class="style-jfJE1" src="https://ethemestudio.com/demo/avers/assets/images/slider/slider3-1.png" id="style-jfJE1">
        </div> 
        <!-- Banner Image End -->
    </div>
    
    <div class="home-banner-image-section">

        <!-- Image -->

    </div>
    <div class="hero-xty shape-5zn style-YVoMB" id="style-YVoMB"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape1.png"></div>
    <div class="hero-xty shape-g4s style-Xofox" id="style-Xofox"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape2.png"></div>
    <div class="hero-xty shape-xf5 style-JOROi" id="style-JOROi"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape3.png"></div>
    <div class="hero-xty shape-kn3 style-YBlmD" id="style-YBlmD"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape4.png"></div>
    <div class="hero-xty shape-xtv style-XsMbR" id="style-XsMbR"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape5.png"></div>
    <div class="hero-xty shape-dh2 style-9sTx1" id="style-9sTx1"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape6.png"></div>
    <div class="hero-xty shape-cth style-ZnpVo" id="style-ZnpVo"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape7.png"></div>
    <div class="hero-xty shape-ojv style-xKGz3" id="style-xKGz3"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape8.png"></div>
    <div class="hero-xty shape-2p5 style-3KzW3" id="style-3KzW3"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape9.png"></div>
    <div class="hero-xty shape-fqz style-qESOp" id="style-qESOp"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape10.png"></div>
    <div class="hero-xty shape-ym8 style-zhiol" id="style-zhiol"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape12.png"></div>
    <div class="hero-xty shape-h52 style-YDD9o" id="style-YDD9o"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape13.png"></div>
    <div class="hero-xty shape-o56 style-mLeqy" id="style-mLeqy"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape14.png"></div>
    <div class="hero-xty shape-6rr style-Qzjwt" id="style-Qzjwt"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape15.png"></div>
</div>
  <!-- Banner End -->
  <!-- Service Section Start -->
  <div class="service-section-card-container">
    <div class="service-section-cards">
        <span>
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/icon/icon1.png">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/icon/icon1.png">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/icon/icon1.png">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/icon/icon1.png">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
  </div>
 
  <!-- Service Section End -->

 <!-- Detail Section Container Start -->
 <div class="about-r4b section-tqo" >
    <div class="sha-fq7 style-aISzN" id="style-aISzN">
        <div class="sha-6z8 style-atHf6" id="style-atHf6">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape1.png">
        </div>
        <div class="sha-66o style-bgemL" id="style-bgemL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape2.png">
        </div>
        <div class="sha-ocl style-8UeAN" id="style-8UeAN">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape4.png">
        </div>
        <div class="sha-wvm style-fBNrv" id="style-fBNrv">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape5.png">
        </div>
    </div>
    <div class="container-ys3">
        <div class="row-yvq mb-4sx">
            <div class="col-mr3 mb-y91">
                <div>
                    <div class="image-3kn zoo-bzp style-ogwDS" id="style-ogwDS">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-shape.png">
                    </div>
                    <div class="image-tm8 fa-eoo style-nE8aO" id="style-nE8aO">
                        <img class="style-g3w7x" src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-image.png" id="style-g3w7x">
                    </div>
                    <div class="chart-gtw fli-cjp ani-c1g style-HaRyc" id="style-HaRyc">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-chart.png">
                    </div>
                    <div class="about-three-9ko fli-cjp ani-c1g style-wb3pK" id="style-wb3pK">
                        <span class="yea-o7z">25</span>
                        <h4 class="text-5jh">Years of<br>Working</h4>
                    </div>
                </div>
            </div>
            <div class="col-275 mb-y91 fa-eoo style-5ffVg" id="style-5ffVg">
                <div class="about-three-hfz">
                    <div class="heading-o7b">
                        <span class="subtitle-fl9">We help you to grow</span>
                        <h2 class="title-k7w">Grow Your Business with Avers </h2>
                        <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tem por Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="about-three-snx">
                        <div class="about-three-service-o6a">
                            <div class="about-three-service-nss">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/icon1.png">
                            </div>
                            <div class="content-tyg">
                                <h4 class="title-owr">Business Strategy</h4>
                                <p>Kimod tempoer incididunt oeno mes sundo ritoma</p>
                            </div>
                        </div>
                        <div class="about-three-service-o6a">
                            <div class="about-three-service-nss">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/icon2.png">
                            </div>
                            <div class="content-tyg">
                                <h4 class="title-owr">Report &amp; Analysis</h4>
                                <p>Kimod tempoer incididunt oeno mes sundo ritoma</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-yvq mb-4sx content-eb3">
                        <div class="col-p8o col-275 col-ed9 col-dj1 col-72q mb-y91">
                            <ul class="content-kys">
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Business automation and reporting</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Critical Analytics and final result</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Full detailed report management</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Qualtiy Management &amp; assurance</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Team management with salary</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-p8o col-mr3 col-ed9 col-hsz col-72q mb-y91">
                            <div class="image-cmc">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-meeting.png">
                            </div>
                        </div>
                    </div>
                    <div class="button-si9">
                        <a href="service-details.html" class="btn-ck1"><span>Learn More</span></a>
                        <div class="phone-7zt">
                            <a class="phone-call-743 d-jjp item-644 gap-tz4" href="tel:+0123456789">
                                <span class="icon-h3s gradient-mp9">
                                    <i class="fa-w99 fa-oq8"></i>
                                </span> +880 123 4567890 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Detail Section Container End -->

 <!-- Specification Card Section Start-->
<div class="service-32a section-gcz">
    <div class="sha-dpj style-1hf9U" id="style-1hf9U" >
        <div class="sha-f1m style-9F3yM" id="style-9F3yM" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape1.png" >
        </div>
        <div class="sha-roo style-ODrqb" id="style-ODrqb" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape2.png">
        </div>
        <div class="style-Lj4Yy" id="style-Lj4Yy">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape3.png" class="lottie-color-spread">
        </div>
        <div class="sha-ogk style-EpMb9" id="style-EpMb9"style=" margin-left:-5%">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape4.png">
        </div>
        <div class="sha-14z style-obVJq" id="style-obVJq">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape6.png">
        </div>
        <div class="sha-wao style-IE1T4" id="style-IE1T4">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape7.png">
        </div>
    </div>
    <div class="container-9bc">
        <div class="row-pnw">
            <div class="col-1fi fa-3wf style-ypbqR" id="style-ypbqR">
                <div class="heading-oeg text-go4">
                    <span class="subtitle-qjo">Service</span>
                    <h2 class="title-cho">What We Offer to Our Clients</h2>
                </div>
            </div>
        </div>
        <div class="row-pnw row-o54 row-4lt row-rjz row-mq9 mb-6fz">
            <div class="col-g76 mb-3m8 fa-3wf style-njBFb" id="style-njBFb">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1.png">
                        </div>
                        <h4 class="title-9ba">Business Consulting</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-qh7JW" id="style-qh7JW">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2.png">
                        </div>
                        <h4 class="title-9ba">Market Research</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-nFFpq" id="style-nFFpq">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3.png">
                        </div>
                        <h4 class="title-9ba">Report Management</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-VCW9z" id="style-VCW9z">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4.png">
                        </div>
                        <h4 class="title-9ba">Critical Analysis</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-UNKMf" id="style-UNKMf">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5.png">
                        </div>
                        <h4 class="title-9ba">Risk Management</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-Aodcf" id="style-Aodcf">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon6-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon6.png">
                        </div>
                        <h4 class="title-9ba">Human Resources</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
 <!-- Specification Card Section End-->
</body>
</html>