<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL</title>
    <link rel ="stylesheet" href="../assets/styles/navbar.css">
    <link rel ="stylesheet" href="../assets/styles/style.css">
    <link rel ="stylesheet" href="../assets/styles/home.css">
    <link rel ="stylesheet" href="../assets/styles/footer.css">
    <link rel ="stylesheet" href="../assets/styles/testmonials.css">
    <link rel ="stylesheet" href="../assets/styles/team.css">
</head>
<body>
  <!-- Navbar Start  -->
  <header class="wrapper-co5 header-kpd" style="background-color: #fff; position: fixed;">
    <div class="container-3sa">
        <div class="row-jp9">
            <div class="col-5bi">
                <div class="flex-vq7 content-hwo">
                    <div class="logo-container-section">
                        <a href="home.html">
                            <img src="../assets/images/logo/logo.jpg" class="tl-logo">
                        </a>
                    </div>
                    <div class="flex-vq7">
                        <div class="d-s28 d-lg-qaj">
                            <nav class="main-61c">
                                <ul>
                                    <li class="has-ihr">
                                        <a href="digital.html">Digital marketing</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                            <li>
                                                <a href="index-3.html">Home Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="web.html">Web development</a>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="software.html">Software Development</a>
                                        <ul class="menu-y4g">
                                            <li><a href="team.html">Team</a></li>
                                            <li class="menu-bfi"><a href="#/">Services</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-bfi"><a href="#/">Projects</a>
                                                <ul class="menu-ynj">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-ihr">
                                        <a href="branding.html">Branding</a>
                                        <ul class="menu-y4g">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="header-trx flex-vq7">
                            <div class="header-y8j header-hvx">
                                <a href="contact.html" class="btn-i1a"><span>Contact</span></a>
                            </div>
                            <div class="ham-bty block-x8p d-lg-krz">
                                <a class="button-oeb d-kzr" href="#/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- Navbar End -->

  <!-- Banner Start -->
  <div style="height:130px">

  </div>
  <div class="sce-m2s style-gY94T" id="style-gY94T">

    <!-- Banner Title Start -->
    <div class="home-banner-container" style="display: flex; width: 100%;">
        <div class="home-banner-title-section">
            <div class="content-y6v">
                <span class="subtitle-fl9">WE ARE AVERS</span>
                <h2 class="title-tfm">Grow Your Business with Avers</h2>
                <p>When the musics over turn off the light</p>
                <a href="service-details.html" class="btn-zdj"><span>Read More</span></a>
            </div>  
        </div>
        <!-- Banner Title End -->
        <!-- Banner Image Start -->
        <div class="home-banner-image-section">
            <img class="style-jfJE1" src="https://ethemestudio.com/demo/avers/assets/images/slider/slider3-1.png" id="style-jfJE1">
        </div> 
        <!-- Banner Image End -->
    </div>
    
    <div class="home-banner-image-section">

        <!-- Image -->

    </div>
    <div class="hero-xty shape-5zn style-YVoMB" id="style-YVoMB"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape1.png"></div>
    <div class="hero-xty shape-g4s style-Xofox" id="style-Xofox"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape2.png"></div>
    <div class="hero-xty shape-xf5 style-JOROi" id="style-JOROi"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape3.png"></div>
    <div class="hero-xty shape-kn3 style-YBlmD" id="style-YBlmD"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape4.png"></div>
    <div class="hero-xty shape-xtv style-XsMbR" id="style-XsMbR"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape5.png"></div>
    <div class="hero-xty shape-dh2 style-9sTx1" id="style-9sTx1"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape6.png"></div>
    <div class="hero-xty shape-cth style-ZnpVo" id="style-ZnpVo"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape7.png"></div>
    <div class="hero-xty shape-ojv style-xKGz3" id="style-xKGz3"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape8.png"></div>
    <div class="hero-xty shape-2p5 style-3KzW3" id="style-3KzW3"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape9.png"></div>
    <div class="hero-xty shape-fqz style-qESOp" id="style-qESOp"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape10.png"></div>
    <div class="hero-xty shape-ym8 style-zhiol" id="style-zhiol"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape12.png"></div>
    <div class="hero-xty shape-h52 style-YDD9o" id="style-YDD9o"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape13.png"></div>
    <div class="hero-xty shape-o56 style-mLeqy" id="style-mLeqy"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape14.png"></div>
    <div class="hero-xty shape-6rr style-Qzjwt" id="style-Qzjwt"><img src="https://ethemestudio.com/demo/avers/assets/images/slider/sliderthree-shape/shape15.png"></div>
</div>
  <!-- Banner End -->
  <!-- Service Section Start -->
  <div class="service-section-card-container">
    <div class="service-section-cards">
        <span>
            <img src="../assets/images/icons/case.svg" class="service-section-icons">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="../assets/images/icons/case.svg" class="service-section-icons">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="../assets/images/icons/case.svg" class="service-section-icons">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
    <div class="service-section-cards">
        <span>
            <img src="../assets/images/icons/case.svg" class="service-section-icons">
        </span>
        <div class="services-card-title-container">
            <h4 class="services-card-title">Consultancy &amp; Solutions</h4>
        </div>
        <p>Pore et dolore magna citia tion laboris nisidin uot aliq uip sueva</p>
    </div>
  </div>
 
  <!-- Service Section End -->

 <!-- Detail Section Container Start -->
 <div class="about-r4b section-tqo" >
    <div class="sha-fq7 style-aISzN" id="style-aISzN">
        <div class="sha-6z8 style-atHf6" id="style-atHf6">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape1.png">
        </div>
        <div class="sha-66o style-bgemL" id="style-bgemL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape2.png">
        </div>
        <div class="sha-ocl style-8UeAN" id="style-8UeAN">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape4.png">
        </div>
        <div class="sha-wvm style-fBNrv" id="style-fBNrv">
            <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/shape5.png">
        </div>
    </div>
    <div class="container-ys3">
        <div class="row-yvq mb-4sx">
            <div class="col-mr3 mb-y91">
                <div>
                    <div class="image-3kn zoo-bzp style-ogwDS" id="style-ogwDS">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-shape.png">
                    </div>
                    <div class="image-tm8 fa-eoo style-nE8aO" id="style-nE8aO">
                        <img class="style-g3w7x" src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-image.png" id="style-g3w7x">
                    </div>
                    <div class="chart-gtw fli-cjp ani-c1g style-HaRyc" id="style-HaRyc">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-chart.png">
                    </div>
                    <div class="about-three-9ko fli-cjp ani-c1g style-wb3pK" id="style-wb3pK">
                        <span class="yea-o7z">25</span>
                        <h4 class="text-5jh">Years of<br>Working</h4>
                    </div>
                </div>
            </div>
            <div class="col-275 mb-y91 fa-eoo style-5ffVg" id="style-5ffVg">
                <div class="about-three-hfz">
                    <div class="heading-o7b">
                        <span class="subtitle-fl9">We help you to grow</span>
                        <h2 class="title-k7w">Grow Your Business with Avers </h2>
                        <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tem por Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="about-three-snx">
                        <div class="about-three-service-o6a">
                            <div class="about-three-service-nss">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/icon1.png">
                            </div>
                            <div class="content-tyg">
                                <h4 class="title-owr">Business Strategy</h4>
                                <p>Kimod tempoer incididunt oeno mes sundo ritoma</p>
                            </div>
                        </div>
                        <div class="about-three-service-o6a">
                            <div class="about-three-service-nss">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/icon2.png">
                            </div>
                            <div class="content-tyg">
                                <h4 class="title-owr">Report &amp; Analysis</h4>
                                <p>Kimod tempoer incididunt oeno mes sundo ritoma</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-yvq mb-4sx content-eb3">
                        <div class="col-p8o col-275 col-ed9 col-dj1 col-72q mb-y91">
                            <ul class="content-kys">
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Business automation and reporting</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Critical Analytics and final result</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Full detailed report management</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Qualtiy Management &amp; assurance</p>
                                </li>
                                <li>
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/icon/checked.png">
                                    <p>Team management with salary</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-p8o col-mr3 col-ed9 col-hsz col-72q mb-y91">
                            <div class="image-cmc">
                                <img src="https://ethemestudio.com/demo/avers/assets/images/about/about-3/about-meeting.png">
                            </div>
                        </div>
                    </div>
                    <div class="button-si9">
                        <a href="service-details.html" class="btn-ck1"><span>Learn More</span></a>
                        <div class="phone-7zt">
                            <a class="phone-call-743 d-jjp item-644 gap-tz4" href="tel:+0123456789">
                                <span class="icon-h3s gradient-mp9">
                                    <i class="fa-w99 fa-oq8"></i>
                                </span> +880 123 4567890 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Detail Section Container End -->

 <!-- Specification Card Section Start-->
<div class="service-32a section-gcz">
    <div class="sha-dpj style-1hf9U" id="style-1hf9U" >
        <div class="sha-f1m style-9F3yM" id="style-9F3yM" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape1.png" >
        </div>
        <div class="sha-roo style-ODrqb" id="style-ODrqb" >
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape2.png">
        </div>
        <div class="style-Lj4Yy" id="style-Lj4Yy">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape3.png" class="lottie-color-spread">
        </div>
        <div class="sha-ogk style-EpMb9" id="style-EpMb9"style=" margin-left:-5%">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape4.png">
        </div>
        <div class="sha-14z style-obVJq" id="style-obVJq">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape6.png">
        </div>
        <div class="sha-wao style-IE1T4" id="style-IE1T4">
            <img src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/shape7.png">
        </div>
    </div>
    <div class="container-9bc">
        <div class="row-pnw">
            <div class="col-1fi fa-3wf style-ypbqR" id="style-ypbqR">
                <div class="heading-oeg text-go4">
                    <span class="subtitle-qjo">Service</span>
                    <h2 class="title-cho">What We Offer to Our Clients</h2>
                </div>
            </div>
        </div>
        <div class="row-pnw row-o54 row-4lt row-rjz row-mq9 mb-6fz">
            <div class="col-g76 mb-3m8 fa-3wf style-njBFb" id="style-njBFb">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon1.png">
                        </div>
                        <h4 class="title-9ba">Business Consulting</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-qh7JW" id="style-qh7JW">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon2.png">
                        </div>
                        <h4 class="title-9ba">Market Research</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-nFFpq" id="style-nFFpq">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon3.png">
                        </div>
                        <h4 class="title-9ba">Report Management</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-VCW9z" id="style-VCW9z">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon4.png">
                        </div>
                        <h4 class="title-9ba">Critical Analysis</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-UNKMf" id="style-UNKMf">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon5.png">
                        </div>
                        <h4 class="title-9ba">Risk Management</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
            <div class="col-g76 mb-3m8 fa-3wf style-Aodcf" id="style-Aodcf">
                <a href="service-details.html" class="service-four-5od">
                    <div class="service-four-single-xsv">
                        <div class="icon-sfn">
                            <img class="icon-11i" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon6-2.png">
                            <img class="icon-f27" src="https://ethemestudio.com/demo/avers/assets/images/service/home-3/icon6.png">
                        </div>
                        <h4 class="title-9ba">Human Resources</h4>
                    </div>
                    <div>
                        <p>Pore et dolore magna veniam qu is nostrud exercitation laboris nisi uot aliq uip ex emattersa </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
 <!-- Specification Card Section End-->

<!-- Testmonials Start -->

<div class="section-2hs testimonial-trb style-jHlSQ" id="style-jHlSQ">
    <div class="container-msp style-dv31l" id="style-dv31l">
        <div class="row-2lk">
            <div class="col-f82 fa-la9 style-cttKX" id="style-cttKX">
                <div class="heading-fff">
                    <span class="subtitle-xbp">Testimonials</span>
                    <h2 class="title-9j9">What People Say</h2>
                </div>
            </div>
        </div>
        <div class="row-2lk">
            <div class="col-f82 position-jsa fa-la9 style-JfrM1" id="style-JfrM1">
                <div class="tes-zez swiper-pointer-jmd fa-ijj">
                    <div class="wrapper-59b style-SyhDo" id="swi-1xs">
                        <div class="slide-gch style-fwIBs" id="style-fwIBs">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-2.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Juwel Khan</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-tjOwU" id="style-tjOwU">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-3.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Jenny Jess</span>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-JZb9X" id="style-JZb9X">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-4.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Swift Kayu</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-MoXSL" id="style-MoXSL">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-2.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Juwel Khan</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-EBevn" id="style-EBevn">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-3.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Jenny Jess</span>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-UbeOY" id="style-UbeOY">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-4.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Swift Kayu</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-jZOQe" id="style-jZOQe">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-2.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Juwel Khan</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-4AqWb" id="style-4AqWb">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-3.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Jenny Jess</span>
                                        <p>Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-gch style-Hp9jB" id="style-Hp9jB">
                            <div class="testimonial-two-5do">
                                <div class="quo-7t1 gradient-xis">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/quote.png">
                                </div>
                                <p class="text-8mi">Duis aute irure dolor in rep rehenderit in volup tate velit esse cillum dol ore eu fugiat nulla pariat ur. Excepteur sint occae cat cupidatat boje nakeu to chinlo na.</p>
                                <div class="use-g47">
                                    <div>
                                        <img src="https://ethemestudio.com/demo/avers/assets/images/testimonial/user-4.png">
                                    </div>
                                    <div class="user-te1">
                                        <span class="nam-m8p">Swift Kayu</span>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span></span>
                </div>
                <div class="row-5wv">
                    <div class="row-zol">
                        <div class="button-qs9">
                            <img class="row-3y4" src="https://ethemestudio.com/demo/avers/assets/images/slider/arrow-1.png">
                            <img class="row-jx3" src="https://ethemestudio.com/demo/avers/assets/images/slider/arrow-2.png">
                        </div>
                        <div class="button-fxn">
                            <img class="row-3y4" src="https://ethemestudio.com/demo/avers/assets/images/slider/arrow-1.png">
                            <img class="row-jx3" src="https://ethemestudio.com/demo/avers/assets/images/slider/arrow-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testmonials End -->

<!-- Our Team Start -->

<div class="team-l6r">
    <div class="sha-srb style-V5Hor" id="style-V5Hor">
        <div class="sha-2mi style-b9Ye8" id="style-b9Ye8">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/1.png">
        </div>
        <div class="sha-iaq fa-e6g style-G6iTU" id="style-G6iTU">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/2.png">
        </div>
        <div class="sha-eln fa-e6g style-aWFzd" id="style-aWFzd">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/3.png">
        </div>
        <div class="sha-rcq zoo-dgr style-CMYdn" id="style-CMYdn">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/4.png">
        </div>
        <div class="sha-the style-qsEAk" id="style-qsEAk">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/5.png">
        </div>
        <div class="sha-ng5 style-5bHpf" id="style-5bHpf">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/6.png">
        </div>
        <div class="sha-hdq zoo-dgr style-JMFNl" id="style-JMFNl">
            <img src="https://ethemestudio.com/demo/avers/assets/images/team/team-three/7.png">
        </div>
    </div>
    <div class="container-cd6">
        <div class="row-nzh">
            <div class="col-phr fa-e6g style-dGk9L" id="style-dGk9L">
                <div class="heading-y1f text-rao">
                    <span class="subtitle-wsj">We are awesome</span>
                    <h2 class="title-dvh">Amazing Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row-nzh row-1x6 row-51e row-i3w row-ezh wrapper-6on">
            <div class="col-ts4 team-three-c5x fa-e6g style-x9bsp" id="style-x9bsp">
                <div class="single-1y4">
                    <div class="image-5w1">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/team/1.png">
                    </div>
                    <div class="content-b7s">
                        <a href="contact.html"><span class="nam-xck">Minhaz Mohsin</span></a>
                        <span class="des-pcs">Founder &amp; CEO</span>
                        <ul class="single-team-sv9">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-bs8"><img src="../assets/images/icons/facebook.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-om9"><img src="../assets/images/icons/twitter.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-78s"><img src="../assets/images/icons/linkedin.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-ts4 team-three-c5x fa-e6g style-yz9CA" id="style-yz9CA">
                <div class="single-1y4">
                    <div class="image-5w1">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/team/2.png">
                    </div>
                    <div class="content-b7s">
                        <a href="contact.html"><span class="nam-xck">John Jessy</span></a>
                        <span class="des-pcs">Head of Ideas</span>
                        <ul class="single-team-sv9">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-bs8"><img src="../assets/images/icons/facebook.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-om9"><img src="../assets/images/icons/twitter.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-78s"><img src="../assets/images/icons/linkedin.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-ts4 team-three-c5x fa-e6g style-P9hON" id="style-P9hON">
                <div class="single-1y4">
                    <div class="image-5w1">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/team/3.png">
                    </div>
                    <div class="content-b7s">
                        <a href="contact.html"><span class="nam-xck">Jenny Alex</span></a>
                        <span class="des-pcs">Team Leader</span>
                        <ul class="single-team-sv9">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-bs8"><img src="../assets/images/icons/facebook.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-om9"><img src="../assets/images/icons/twitter.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-78s"><img src="../assets/images/icons/linkedin.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-ts4 team-three-c5x fa-e6g style-cIFkn" id="style-cIFkn">
                <div class="single-1y4">
                    <div class="image-5w1">
                        <img src="https://ethemestudio.com/demo/avers/assets/images/team/4.png">
                    </div>
                    <div class="content-b7s">
                        <a href="contact.html"><span class="nam-xck">Hizz Lui</span></a>
                        <span class="des-pcs">Designer</span>
                        <ul class="single-team-sv9">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-bs8"><img src="../assets/images/icons/facebook.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-om9"><img src="../assets/images/icons/twitter.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-78s"><img src="../assets/images/icons/linkedin.png" class="social-media-icons-mini" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Team end -->


 <!-- Footer Start -->

<div class="footer-hk7">
    <div class="sha-w7o style-a3o9t" id="style-a3o9t">
        <div class="sha-f7l zoo-5vi style-KX6vL" id="style-KX6vL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/1.png">
        </div>
        <div class="sha-tdq zoo-5vi style-F6Y3q" id="style-F6Y3q">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/2.png">
        </div>
        <div class="sha-bd2 zoo-5vi style-DpDgy" id="style-DpDgy">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/3.png">
        </div>
        <div class="sha-fz6 style-LcDnH" id="style-LcDnH">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/4.png">
        </div>
        <div class="sha-3jl fa-xa5 style-fnQZN" id="style-fnQZN">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/5.png">
        </div>
        <div class="sha-ats zoo-5vi style-cdoRl" id="style-cdoRl">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/6.png">
        </div>
        <div class="sha-v27 style-qobno" id="style-qobno">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/7.png">
        </div>
        <div class="sha-dbr fa-xa5 style-FaJHL" id="style-FaJHL">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/8.png">
        </div>
        <div class="sha-w7v zoo-5vi style-U6VGp" id="style-U6VGp">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/9.png">
        </div>
        <div class="sha-i2i fa-xa5 style-hEAPd" id="style-hEAPd">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/10.png">
        </div>
        <div class="sha-qyo fa-xa5 style-qJdqX" id="style-qJdqX">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/11.png">
        </div>
        <div class="sha-jt6 style-sNQYe" id="style-sNQYe">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/12.png">
        </div>
        <div class="sha-lee zoo-5vi style-oT2bp" id="style-oT2bp">
            <img src="https://ethemestudio.com/demo/avers/assets/images/footer/shape/13.png">
        </div>
        <div class="sha-ovf style-5qTIk" id="style-5qTIk">
            <img src="https://ethemestudio.com/demo/avers/assets/images/contact/1.png">
        </div>
    </div>
    <div class="newsletter-8i6">
        <div class="container-kl6">
            <div class="row-b2s">
                <div class="col-zti">
                    <div class="newsletter-two-clh">
                        <div class="heading-zzv fa-xa5 style-NPjfZ" id="style-NPjfZ">
                            <span class="subtitle-fr9">Subscribe Our Newsletter</span>
                            <h2 class="title-tlo">Get Regular Updats</h2>
                            <p>Kimod tempoer incididunt onomes sundo ritoma amar Lorem ipsum dolor sit amet, consectetur adipimod</p>
                        </div>
                        <form class="footer-7nh fa-xa5 style-KLEyE" id="style-KLEyE">
                            <input type="text" placeholder="Your email here">
                            <button class="btn-83h btn-f77" type="submit"> <span>Subscribe</span> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-kl6">
            <div class="row-b2s mb-1mg">
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-sty8r" id="style-sty8r">
                    <div class="footer-54p">
                        <div class="negative-tvk">
                            <a href="index-2.html">
                                <img src="../assets/images/logo/logo.jpg" class="tl-logo">
                            </a>
                        </div>
                        <ul class="footer-5d2">
                            <li> <span>20 Bordeshi, Amin Bazar <br> Dhaka 1348</span></li>
                            <li> <span>hello@avers.com</span> </li>
                            <li><span>+880 1234 567 890</span> </li>
                        </ul>
                        <ul class="icon-ogo d-qfo">
                            <li>
                                <a href="https://www.facebook.com/" class="fa-vgq"><img src="../assets/images/icons/facebook.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twi-9ih"><img src="../assets/images/icons/twitter.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="link-myo"><img src="../assets/images/icons/linkedin.png" class="social-media-icons" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/"><img src="../assets/images/icons/instagram.png" class="social-media-icons" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-KlDdX" id="style-KlDdX">
                    <div class="footer-54p">
                        <div class="wrapper-iew">
                            <div>
                                <h5 class="footer-oob">Links</h5>
                                <ul class="footer-2hr">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Visitor</a></li>
                                    <li><a href="contact.html">Webmaster</a></li>
                                    <li><a href="contact.html">Service</a></li>
                                    <li><a href="contact.html">Career</a></li>
                                </ul>
                            </div>
                            <div>
                                <h5 class="footer-oob">Help</h5>
                                <ul class="footer-2hr">
                                    <li><a href="contact.html">Support</a></li>
                                    <li><a href="contact.html">Doc File</a></li>
                                    <li><a href="contact.html">Forum</a></li>
                                    <li><a href="contact.html">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-VAK8p" id="style-VAK8p">
                    <div class="footer-54p">
                        <h5 class="footer-oob" style="">Instagram Links</h5>
                        <ul class="tag-4pg">
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/1.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/2.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/3.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/4.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/5.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://ethemestudio.com/demo/avers/assets/images/blog/gallery/6.png">
                                    <div class="add-v3k">
                                        <i class="fa-91f tag-iav"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-1r3 col-x8s col-2fh mb-hno fa-xa5 style-Pclz1" id="style-Pclz1">
                    <div class="footer-54p">
                        <h5 class="footer-oob">Recent Tweets</h5>
                        <ul class="twe-lwh">
                            <li>
                                <div class="image-w1p"><img src="https://ethemestudio.com/demo/avers/assets/images/footer/tweet.png"></div>
                                <div class="content-7ez">
                                    <div>
                                        <a class="link-ch1" href="contact.html">@avers</a>
                                        <span class="text-yf5">Eolore magna aliqu ad minim veniam, quis nostr ud exercita </span>
                                        <a class="link-jfb" href="contact.html">bit.ly/8s0dfs</a>
                                    </div>
                                    <div class="dat-65o">
                                        <span>- 5 hours ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image-w1p"><img src="https://ethemestudio.com/demo/avers/assets/images/footer/tweet.png"></div>
                                <div class="content-7ez">
                                    <div>
                                        <a class="link-ch1" href="contact.html">@avers</a>
                                        <span class="text-yf5">Eolore magna aliqu ud exercita </span>
                                        <a class="link-jfb" href="contact.html">bit.ly/8s0dfs</a>
                                    </div>
                                    <div class="dat-65o">
                                        <span>- 5 hours ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-b2s">
                <div class="col-dyy position-hy6">
                    <div class="footer-g1i">
                        <p class="order-md-hdy order-wwb">Designed by <span>© Trivlogic</span></p>
                        <ul class="footer-76p order-md-z9q order-nz1">
                            <li><a href="contact.html">Terms &amp; Condition</a></li>
                            <li><a href="contact.html">Privecy Policy</a></li>
                            <li><a href="contact.html">Legal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->
</body>
</html>